<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewWithUISearchBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68AF2DF41F731EA900CFCA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68AF2E081F731EA900CFCA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68AF2E131F731EA900CFCA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
